@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: rgb(236, 230, 203);
  color: black;

  font: normal 14px "Roboto", sans-serif;
}

.avatar {
  width: 15em;
  border-radius: 20px;
  box-shadow: 10px 11px 17px black;
}

.info p {
  color: rgb(26, 2, 2);
  margin: 0;
  font-style: italic;
  text-decoration: none;
  text-transform: initial;
  letter-spacing: 1px;
}

.container {
  max-width: 750px;
  margin: auto;
}

.social {
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgb(199, 178, 178);
  padding: 15px 20px;
  border: 5px solid rgb(0, 0, 0);
}

.box-model > div {
  float: left;
  background-color: black;
  height: 200px;
  width: 25%;
  border: 4px solid red;
  box-sizing: border-box;
  image-orientation: flip;
}

.imgcont {
  margin: 0;
  width: max-content;
  border: 4px solid black;
}

img {
  width: 30em;
  height: 30em;
}
